[user]
	email = scott@siberia.io
	name = Scott Meyers
[core]
	excludesfile = /Users/scottmeyers/.gitignore_global
[credential]
	helper = osxkeychain
[http]
	cookiefile = ~/.gitcookies
[pull]
	rebase = false
[init]
	defaultBranch = master
[include]
  path = /Users/scottmeyers/.netlify/helper/git-config
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
